/**css for admin dashboard**/

.link:link, .link:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

.link:hover, .link:active {
  background-color: green;
  color: white;
}

.linkred:link, .linkred:visited {
  background-color: white;
  color: black;
  border: 2px solid #c01c33;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  
}

.linkred:hover, .linkred:active {
  background-color: #c01c33;
  color: white;
}
.linkred2:link, .linkred2:visited {
  background-color: #d75c57;
  color: white;
  border: 2px solid #d75c57;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  
}

.linkred2:hover, .linkred2:active {
  background-color: #c01c33;
  color: white;
}


#tablo {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:100%;
}

#tablo td, #tablo th {
  border: 1px solid #ddd;
  text-align: center;
}
#tablo tr:nth-child(even){background-color: #f2f2f2;}

#tablo tr:hover {background-color: #ddd;}

#tablo th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

#tablo1 {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
 margin-left: 135px; 
}

#tablo1 td, #tablo1 th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  
}

#tablo1 tr:nth-child(even){background-color: #f2f2f2;}

#tablo1 tr:hover {background-color: #ddd;}

#tablo1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

.input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input[type=submit]:hover {
  background-color: #45a049;

}
div.elipsis{
  width:150px;
  border:1px solid #555;
  padding:5px;

}


div.container {
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#yourBtn {
  position: relative;
  font-family: calibri;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px dashed #BBB;
  text-align: center;
  background-color: white;
  cursor: pointer;
}

.guncelle {
  color: white;
  padding: 8px;
  font-family: Arial;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border:none;
}
.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */ 
.other {background-color: #e7e7e7; color: black;} /* Gray */
}





